[submodule "src/lib/dojo/dojo"]
	path = src/lib/dojo/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/lib/dojo/dijit"]
	path = src/lib/dojo/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/lib/dojo/dojox"]
	path = src/lib/dojo/dojox
	url = https://github.com/dojo/dojox.git
[submodule "src/lib/dojo/util"]
	path = src/lib/dojo/util
	url = https://github.com/dojo/util.git
[submodule "src/lib/dgrid"]
	path = src/lib/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "src/lib/put-selector"]
	path = src/lib/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "src/lib/xstyle"]
	path = src/lib/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "src/lib/ppwcode/util/contracts"]
	path = src/lib/ppwcode/util/contracts
	url = https://github.com/peopleware/js-ppwcode-util-contracts.git
[submodule "src/lib/ppwcode/util/collections"]
	path = src/lib/ppwcode/util/collections
	url = https://github.com/peopleware/js-ppwcode-util-collections.git
[submodule "src/lib/ppwcode/util/oddsAndEnds"]
	path = src/lib/ppwcode/util/oddsAndEnds
	url = https://github.com/peopleware/js-ppwcode-util-oddsAndEnds.git
[submodule "src/lib/ppwcode/vernacular/exceptions"]
	path = src/lib/ppwcode/vernacular/exceptions
	url = https://github.com/peopleware/js-ppwcode-vernacular-exceptions.git
[submodule "src/lib/ppwcode/vernacular/semantics"]
	path = src/lib/ppwcode/vernacular/semantics
	url = https://github.com/peopleware/js-ppwcode-vernacular-semantics.git
[submodule "src/lib/ppwcode/vernacular/persistence"]
	path = src/lib/ppwcode/vernacular/persistence
	url = https://github.com/peopleware/js-ppwcode-vernacular-persistence.git
[submodule "src/lib/ppwcode/vernacular/value"]
	path = src/lib/ppwcode/vernacular/value
	url = https://github.com/peopleware/js-ppwcode-vernacular-value.git
[submodule "src/lib/ppwcode/vernacular/semantics-B"]
	path = src/lib/ppwcode/vernacular/semantics-B
	url = https://github.com/peopleware/js-ppwcode-vernacular-semantics-B.git
[submodule "src/lib/dstore"]
	path = src/lib/dstore
	url = https://github.com/SitePen/dstore.git
[submodule "src/lib/dgrid_0_3"]
	path = src/lib/dgrid_0_3
	url = https://github.com/SitePen/dgrid.git
